body{
    min-height: 100vh;
    overflow: hidden;
}

.bulle{
    position: absolute;
    border-radius: 300px;
    background-color: rgb(241, 189, 189);
    filter: hue-rotate(0deg);
    animation: run 3s linear forwards;
    width: 100px;
    height: 100px;
    bottom: 0;
}

@keyframes run {
   to{
       filter: hue-rotate(360deg);
       transform: translateY(-100vh);
       left: var(--left);
   }
}

.result {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5rem;
    color: rgb(17, 15, 15);
    user-select: none;
}